[Unit]
Description=A Free software to capTure meteors
Documentation=https://github.com/cmarmo/freeture

[Service]
Restart=always
User=root
EnvironmentFile=
ExecStart=
ExecStart=freeture -m 3 -c /etc/freeture/configuration.cfg
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
